<div>



    <div> Enter Age: <input type = "text" [(ngModel)] = age> </div> <br/>
  
    <div *ngIf = "age <18; else elseAgeBlock">
  
        <b> Not Eligible to Vote </b>
  
    </div>
  
    <ng-template #elseAgeBlock>
  
        <b>Eligible to Vote </b>
  
    </ng-template>
  
  
  
    <div [ngStyle] = "{'background-color': 'yellow'}">
  
      <h1>This is my Page</h1>
  
      <p>Show me this </p>
  
    </div>
  
  
  
  </div>
  
  
  
  <router-outlet></router-outlet>






<p>if-example works!</p>